body{
	background-image: url("Map.jpg"); /* image found on google & colored in states I want to post about: https://www.vectorstock.com/royalty-free-vector/usa-sketch-map-vector-2751907*/
	background-size: cover;
	background-repeat: no-repeat;
}

 div.absolute {
 	position: absolute;
  	bottom: 0;
  	right: 0;
  	width: 300px;
  	font-family: 'Caveat', cursive;
  	font-size: 45px;
  	padding-right: 10px;
  }

  div.pins{
  	float: right;
  	
  }